<!-- views/pages/views.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>

  <% include ../../partials/head %>
</head>

<body>
  <div id="wrapper">

    <header>
      <% include ../../partials/header %>
    </header>

    <main>
      <div id="page-wrapper">

        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="row">
            <div class="col-lg-12">
              <h1 class="page-header">
                <%= data["app"].get("company") %> <small><%= data["app"].get("title") %></small>
              </h1>
              <ol class="breadcrumb">
                <li>
                  <i class="fa fa-briefcase"></i> 
                  <a href="/jobs">Jobs</a>
                </li>
                <li class="active">
                  <i class="fa"></i> View Application
                </li>
              </ol>
            </div>
          </div>

          <alerts>
            <% include ../../partials/alerts %>
          </alerts>

          <div class="row">
            <div class="col-lg-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-tasks fa-fw"></i> Application Overview</h3>
                </div>
                <div class="panel-body">
                  <div class="list-group">
                    <a href="#" class="list-group-item">
                      <div class="list-group-item-heading"><b>Description</b></div>
                      <p>
                        <% if (!data["app"].get("description")) { %>
                        Not set
                        <% } else { %>
                        <%= data["app"].get("description") %>
                        <% } %></p>
                      </a>
                      <a href="#" class="list-group-item">
                        <span class="badge">

                          <% if (!data["app"].get("status")) { %>
                          Not set
                          <% } else { %>
                          <%= data["app"].get("status") %>
                          <% } %>

                        </span>
                        <i class="fa fa-fw fa-pencil"></i> Status
                      </a>
                      <a href="#" class="list-group-item">
                        <span class="badge">

                          <% if (!data["app"].get("deadline")) { %>
                          Not set
                          <% } else { %>
                          <%= data["app"].get("deadline") %>
                          <% } %>
                        </span>
                        <i class="fa fa-fw fa-calendar"></i> Deadline
                      </a>

                    </div>
                    <div class="text-right" data-toggle="modal" data-target="#newJobModal">
                      <a href="#">Edit Details <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-envelope fa-fw"></i> Messages</h3>
                  </div>
                  <div class="panel-body">
                    <div class="list-group">

                      <a href="#" class="list-group-item">
                        <div class="list-group-item-heading"><b>Email 1</b></div>
                        <p class="list-group-item-text">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 

                        </p>
                      </a>

                      <a href="#" class="list-group-item">
                        <div class="list-group-item-heading"><b>Email 2</b></div>
                        <p class="list-group-item-text">
                          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </a>

                      </div>
                      <div class="text-right">
                        <a href="/messages">View All Messages <i class="fa fa-arrow-circle-right"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <button type="button" id="addDocumentButton" class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#addDocumentModal">
                        <i class="fa fa-plus"></i> Add
                      </button>
                      <h3 class="panel-title"><i class="fa fa-file fa-fw"></i> Documents</h3>
                    </div>
                    <div class="panel-body">
                      <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>File Name</th>
                                    <th>Version</th>    
                                    <th>Last Modified</th>
                                    <th>Size</th>
                                    <th>Kind</th> 
                                </tr>
                            </thead>
                            <tbody>
                               <% for(var i = 0; i < data["documents"].length; i++) { %>
                                    <tr class="document-entry" id="doc-<%= data["documents"][i].id %>">
                                      <td><%= data["documents"][i].get("name") %></td>
                                      <td><%= data["documents"][i].get("version") %></td>
                                      <td><%= data["documents"][i].updatedAt %></td>
                                      <td><%=data["documents"][i].get("size") %></td>
                                      <td><%=data["documents"][i].get("extension") %></td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                      </div>
                      <div class="text-right">
                        <a href="/documents">View All Documents <i class="fa fa-arrow-circle-right"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <button type="button" class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#newContactModal">
                        <i class="fa fa-plus"></i> Add
                      </button>

                      <h3 class="panel-title"><i class="fa fa-user fa-fw"></i> Contacts</h3>
                    </div>
                    <div class="panel-body">

                      <div class="table-responsive">
                        <table class="table table-hover">

                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Title</th>
                              <th>Email</th>
                              <th>Phone</th>
                            </tr>
                          </thead>

                          <tbody>

                            <% for(var i=0; i<data["contacts"].length; i++) {%>
                            <tr>
                              <td><%= data["contacts"][i].get("name") %></td>
                              <td><%= data["contacts"][i].get("title") %></td>
                              <td>

                                <% if (!data["app"].get("email")) { %>
                                --
                                <% } else { %>
                                <%= data["app"].get("email") %>
                                <% } %>

                              </td>
                              <td>
                                <% if (!data["app"].get("phone")) { %>
                                --
                                <% } else { %>
                                <%= data["app"].get("phone") %>
                                <% } %>
                              </td>
                            </tr>
                            <% } %>

                          </tbody>
                        </table>
                      </div>

                      <div class="text-right">
                        <a href="/contacts">View All Contacts <i class="fa fa-arrow-circle-right"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>
            <!-- /.container-fluid -->
          </div>
        </main>

      </div>

      <div class="modal fade" id="newContactModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <form id="contactAddForm" role="form" method="post" action="/jobs//add" enctype="multipart/form-data">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Contact</h4>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label>Name</label>
                  <input name="contact_name" class="form-control">
                </div>
                <div class="form-group">
                  <label>Title</label>
                  <input name="contact_title" class="form-control">
                </div>
                <div class="form-group">
                  <label>Email</label>
                  <input name="email" class="form-control">
                </div>
                <div class="form-group">
                  <label>Phone number</label>
                  <input name="phone" class="form-control">
                </div>
  <!--          <div class="form-group">
                  <label>Company Name</label>
                  <input name="company" class="form-control">
                </div> -->

                <div class="form-group">
                  <label>Notes</label>
                  <textarea name="notes" placeholder="Met at engineering career fair, etc." class="form-control" rows="3"></textarea>
                </div>                    
              </div>
              <div class="modal-footer">
                <input id="contactAddButton" type="submit" class="btn btn-custom">
              </div>
            </form>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->  

  <div id="addDocumentModalContainer" data-job-id="<%=data.app.id%>"></div>

  <div class="modal fade" id="uploadDocumentModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="fileSubmitForm" role="form" method="post" action="/jobs/doc_upload" enctype="multipart/form-data">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Upload New Document</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputFileName">File name</label>
                        <input type="text" class="form-control" id="inputFileName" name="name">
                    </div>
                    <div class="form-group">
                        <label for="docFileToUpload">File input</label>
                        <input id="docFileToUpload" type="file" class="file-upload" name="file" >
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="application_id" value="<%=data['app'].id%>" >
                    </div>  
                </div>
                <div class="modal-footer">
                    <input id="documentUploadButton" type="submit" class="btn btn-custom">
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->  

  <edit>
      <% include ../../partials/jobs_edit %>
  </edit>

  <footer>
    <% include ../../partials/footer %>
  </footer>

</body>
</html>

