<!-- views/pages/views.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../partials/head %>
</head>

<body>
  <div id="wrapper">

    <header>
      <% include ../../partials/header %>
    </header>

    <main>
      <div id="page-wrapper">

        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="row">
            <div class="col-lg-12">
              <h1 class="page-header">
                <%= data["app"].get("company") %> <small><%= data["app"].get("title") %></small>
              </h1>
              <ol class="breadcrumb">
                <li>
                  <i class="fa fa-briefcase"></i> 
                  <a href="/jobs">Jobs</a>
                </li>
                <li class="active">
                  <i class="fa"></i> View Application
                </li>
              </ol>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-tasks fa-fw"></i> Application Overview</h3>
                </div>
                <div class="panel-body">
                  <div class="text-right">
                    <a href="#">Edit Details <i class="fa fa-arrow-circle-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-envelope fa-fw"></i> Messages</h3>
                </div>
                <div class="panel-body">
                  <div class="list-group">
                    <a href="#" class="list-group-item">
                      <span class="badge">just now</span>
                      <i class="fa fa-fw fa-calendar"></i> Dummy message
                    </a>
                    
                  </div>
                  <div class="text-right">
                    <a href="#">View All Messages <i class="fa fa-arrow-circle-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-file fa-fw"></i> Documents</h3>
                </div>
                <div class="panel-body">
                  <div class="text-right">
                    <a href="#">View All Documents <i class="fa fa-arrow-circle-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <button type="button" class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#newContactModal">
                    <i class="fa fa-plus"></i> Add
                  </button>

                  <h3 class="panel-title"><i class="fa fa-user fa-fw"></i> Contacts</h3>
                </div>
                <div class="panel-body">

                  <div class="table-responsive">
                    <table class="table table-hover">

                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Title</th>
                          <th>Email</th>
                          <th>Phone</th>
                        </tr>
                      </thead>

                      <tbody>

                        <% for(var i=0; i<data["contacts"].length; i++) {%>
                        <tr>
                          <td><%= data["contacts"][i].get("name") %></td>
                          <td><%= data["contacts"][i].get("title") %></td>
                          <td><%= data["contacts"][i].get("email") %></td>
                          <td><%= data["contacts"][i].get("phone") %></td>
                        </tr>
                        <% } %>

                      </tbody>
                    </table>
                  </div>

                  <div class="text-right">
                    <a href="#">View All Contacts <i class="fa fa-arrow-circle-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
        <!-- /.container-fluid -->
      </div>
    </main>

  </div>

<div class="modal fade" id="newContactModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="contactAddForm" role="form" method="post" action="/contacts/add" enctype="multipart/form-data">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add Contact</h4>
                </div>
                <div class="modal-body">
                            <div class="form-group">
                                <label>Name</label>
                                <input name="contact_name" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Title</label>
                                <input name="contact_title" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input name="email" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Phone number</label>
                                <input name="phone" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Company Name</label>
                                <input name="company" class="form-control">
                            </div>
                            
                            <div class="form-group">
                                <label>Notes</label>
                                <textarea name="notes" placeholder="Met at engineering career fair, etc." class="form-control" rows="3"></textarea>
                            </div>                    
                </div>
                <div class="modal-footer">
                    <input id="contactAddButton" type="submit" class="btn btn-custom">
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->  

  <footer>
    <% include ../../partials/footer %>
  </footer>

</body>
</html>

